body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #393c60;
  overflow: hidden;
}

.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 20;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #FFACAC;
  top: 2%;
  left: 68%;
  animation-duration: 233s;
  animation-delay: -35s;
  transform-origin: -6vw -17vh;
  box-shadow: 100vmin 0 12.870275269899532vmin currentColor;
}
.background span:nth-child(1) {
  color: #E45A84;
  top: 29%;
  left: 62%;
  animation-duration: 82s;
  animation-delay: -293s;
  transform-origin: 1vw 3vh;
  box-shadow: 100vmin 0 12.92981343175339vmin currentColor;
}
.background span:nth-child(2) {
  color: #583C87;
  top: 45%;
  left: 64%;
  animation-duration: 45s;
  animation-delay: -102s;
  transform-origin: -19vw 9vh;
  box-shadow: -100vmin 0 12.528949941294435vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 79%;
  left: 46%;
  animation-duration: 101s;
  animation-delay: -185s;
  transform-origin: -21vw -2vh;
  box-shadow: -100vmin 0 13.302211365038545vmin currentColor;
}
.background span:nth-child(4) {
  color: #E45A84;
  top: 19%;
  left: 81%;
  animation-duration: 249s;
  animation-delay: -163s;
  transform-origin: -6vw -5vh;
  box-shadow: -100vmin 0 13.256625052761155vmin currentColor;
}
.background span:nth-child(5) {
  color: #583C87;
  top: 15%;
  left: 53%;
  animation-duration: 50s;
  animation-delay: -93s;
  transform-origin: -15vw -11vh;
  box-shadow: 100vmin 0 12.786189334554708vmin currentColor;
}
.background span:nth-child(6) {
  color: #FFACAC;
  top: 97%;
  left: 49%;
  animation-duration: 38s;
  animation-delay: -55s;
  transform-origin: 11vw -13vh;
  box-shadow: 100vmin 0 12.613844344387076vmin currentColor;
}
.background span:nth-child(7) {
  color: #583C87;
  top: 62%;
  left: 80%;
  animation-duration: 121s;
  animation-delay: -134s;
  transform-origin: 0vw 10vh;
  box-shadow: -100vmin 0 12.719173664454845vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 66%;
  left: 40%;
  animation-duration: 163s;
  animation-delay: -262s;
  transform-origin: 22vw -21vh;
  box-shadow: 100vmin 0 12.734415862158142vmin currentColor;
}
.background span:nth-child(9) {
  color: #583C87;
  top: 37%;
  left: 93%;
  animation-duration: 35s;
  animation-delay: -40s;
  transform-origin: 25vw 24vh;
  box-shadow: 100vmin 0 12.551399232985682vmin currentColor;
}
.background span:nth-child(10) {
  color: #E45A84;
  top: 33%;
  left: 77%;
  animation-duration: 207s;
  animation-delay: -74s;
  transform-origin: -4vw -7vh;
  box-shadow: 100vmin 0 12.574432984155166vmin currentColor;
}
.background span:nth-child(11) {
  color: #E45A84;
  top: 3%;
  left: 90%;
  animation-duration: 120s;
  animation-delay: -18s;
  transform-origin: 20vw -5vh;
  box-shadow: -100vmin 0 12.727607933592179vmin currentColor;
}
.background span:nth-child(12) {
  color: #FFACAC;
  top: 38%;
  left: 26%;
  animation-duration: 108s;
  animation-delay: -20s;
  transform-origin: 18vw 6vh;
  box-shadow: 100vmin 0 12.598257104107203vmin currentColor;
}
.background span:nth-child(13) {
  color: #FFACAC;
  top: 18%;
  left: 30%;
  animation-duration: 91s;
  animation-delay: -133s;
  transform-origin: -8vw -1vh;
  box-shadow: 100vmin 0 13.42869743994237vmin currentColor;
}
.background span:nth-child(14) {
  color: #583C87;
  top: 48%;
  left: 46%;
  animation-duration: 194s;
  animation-delay: -91s;
  transform-origin: -1vw 16vh;
  box-shadow: 100vmin 0 13.498865160453285vmin currentColor;
}
.background span:nth-child(15) {
  color: #583C87;
  top: 78%;
  left: 4%;
  animation-duration: 277s;
  animation-delay: -190s;
  transform-origin: -6vw 13vh;
  box-shadow: -100vmin 0 13.122948886292965vmin currentColor;
}
.background span:nth-child(16) {
  color: #583C87;
  top: 76%;
  left: 76%;
  animation-duration: 121s;
  animation-delay: -55s;
  transform-origin: -21vw 9vh;
  box-shadow: 100vmin 0 12.622495369724298vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 21%;
  left: 20%;
  animation-duration: 127s;
  animation-delay: -137s;
  transform-origin: 6vw 16vh;
  box-shadow: 100vmin 0 12.677179870209942vmin currentColor;
}

.modal-backdrop-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Gelap */
  backdrop-filter: blur(10px); /* Blur */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  z-index: 9999;
  cursor: pointer;
  transition: opacity 0.7s ease-in-out;
}

.overlay span {
  z-index: 10000;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}
